MotivationLetterApp apps authentification billing config core cv_generator db.sqlite3 docker-compose.yml eligibility liste des code de cv generator.txt manage.py media photos prompt pour les templates de cv.txt pytest.ini radar requirements.txt requirements.txt.txt static staticfiles templates vscode-remote-try-node text=auto
