# Python/Django
__pycache__/
*.py[cod]
*.egg-info/
*.log
.env
*.env
*.key
db.sqlite3

# Virtual env
.venv/
venv/
env/
ENV/

# Collectstatic & uploads
staticfiles/
media/

# Tests / cache
.pytest_cache/
.coverage

# Node (si tu utilises un peu de JS)
node_modules/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
