@import "tokens.css";
@import "base.css";
@import "components.css";
@import "pages.css";
@import "./tokens.css";
@import "./base.css";
@import "./components.css";

/* Pages */
@import "./pages/preparation-tests.css";
@import "./pages/tef_co.css";

/* Responsive */
@import "./mobile.css";
