[Unit]
Description=Verification des offres Canada toutes les heures

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1h
Persistent=true
Unit=eshelle-canada-cleanup.service

[Install]
WantedBy=timers.target
