{% extends "base.html" %}
{% load static %}

{% block title %}Connexion – Immigration97{% endblock %}
{% block body_class %}authentification{% endblock %}
{% block app_scope %}authentification{% endblock %}
{% block container_class %}container-free{% endblock %}


{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block content %}
<main class="auth-layout">

  <section class="auth-container">
    <div class="auth-card">

      <header class="auth-header">
        <img src="{% static 'img/LOGOIMM97.png' %}" alt="Immigration97" class="auth-logo">
        <h1>Connexion sécurisée</h1>
        <p>Accédez à votre espace personnel Immigration97</p>
      </header>

      {% if messages %}
        <div class="auth-alerts">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <form method="post" class="auth-form" novalidate>
        {% csrf_token %}

        {% if next %}
          <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        <div class="form-group">
<label for="username">Email ou nom d’utilisateur</label>
<input
  type="text"
  name="username"
  id="username"
  placeholder="Email ou nom d’utilisateur"
  required
>

        </div>

        <div class="form-group password-wrapper">
  <label for="password-input">Mot de passe</label>

  <input
    id="password-input"
    type="password"
    name="password"
    required
    autocomplete="current-password"
    class="password-input"
  >

  <button
    type="button"
    class="password-toggle"
    aria-label="Afficher le mot de passe"
    tabindex="-1">
    👁
  </button>
</div>


        <button type="submit" class="btn-auth-primary">
          Se connecter
        </button>
        <div class="forgot-password">
  <a href="{% url 'authentification:password_reset' %}">
    Mot de passe oublié ?
  </a>
</div>

      </form>

      <footer class="auth-footer">
        <p>
          Pas encore inscrit ?
          <a href="{% url 'authentification:register' %}">Créer un compte</a>
        </p>

        
      </footer>

    </div>
  </section>

</main>
{% endblock %}

{% block scripts_extra %}
<script src="{% static 'js/pages/authentication.js' %}"></script>
{% endblock %}
