{% extends "base.html" %}
{% load static %}

{% block title %}Mot de passe oublié – Immigration97{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/pages/authentication.css' %}">
{% endblock %}

{% block content %}
<main class="auth-layout">
  <section class="auth-container">
    <div class="auth-card">

      <header class="auth-header">
        <img src="{% static 'img/LOGOIMM97.png' %}" class="auth-logo">
        <h1>Mot de passe oublié</h1>
        <p>Entrez votre adresse email pour recevoir un lien sécurisé.</p>
      </header>

      <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <button type="submit" class="btn-auth-primary">
          Envoyer le lien
        </button>
      </form>

      <footer class="auth-footer">
        <a href="{% url 'authentification:login' %}">← Retour connexion</a>
      </footer>

    </div>
  </section>
</main>
{% endblock %}
