{% extends "base.html" %}
{% load static %}

{% block title %}Email envoyé – Immigration97{% endblock %}

{% block content %}
<main class="auth-layout">
  <section class="auth-container">
    <div class="auth-card auth-center">

      <h1>Email envoyé</h1>
      <p>
        Si un compte correspond à cette adresse email,
        vous recevrez un lien de réinitialisation.
      </p>

      <a href="{% url 'authentification:login' %}" class="btn-auth-primary">
        Retour connexion
      </a>

    </div>
  </section>
</main>
{% endblock %}
