TIBO_STRIPE_PUBLIC_KEY=pk_live_change_me
TIBO_STRIPE_SECRET_KEY=sk_live_change_me
TIBO_PAYPAL_CLIENT_ID=change_me
TIBO_PAYPAL_CLIENT_SECRET=change_me
TIBO_SHOPIFY_SHOP_DOMAIN=your-shop.myshopify.com
TIBO_SHOPIFY_ACCESS_TOKEN=shpat_change_me
TIBO_SHOPIFY_API_VERSION=2026-01
TIBO_AMAZON_ACCESS_KEY=change_me
TIBO_AMAZON_SECRET_KEY=change_me
TIBO_AMAZON_PARTNER_TAG=tibo-20
TIBO_AMAZON_MARKETPLACE=www.amazon.ca

